@font-face {
  font-family: 'Numans';
  src: url(../fonts/numans_[allfont.ru].woff2) format(woff2);
  src: url(../fonts/Numans-Regular.woff) format(woff);
  font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:inherit;
  font-size:inherit;
  font-style:inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	font-family: 'Numans', Arial, sans-serif;
  margin: 0 auto;
	max-width: 1500px;
}



/*header*/

.header-index {
	border-bottom: 1px solid #1e9265;
	height: 65px;
	width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-index__logo {
  padding: 20px 0px 0px 50px;
}

.logo-index-page__img {
	width: 150px;
}

.header-index__sign-links {
  margin: 23px 20px 0 0;
}

.sign-links__item {
	text-decoration: none;
	padding: 5px;
	color: #1E7A6D;
}

.sign-links__item_distance {
	margin-right: 10px;
}

.sign-links__item_black {
	color: black;
}



/*main page*/

.main-index {
	min-height: calc(100vh - 65px - 66px - 1px - 2px);  /* - header - footer - header_border - footer_border*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.article {
	min-width: 400px;
	max-width: 600px;
	padding: 10px;
	font-size: 16px;
	transition: 1s;
}

.article:hover {
	transform: scale(1.4);
}

.article__image {
	height: 200px;
}




/* footer */

.footer-sign {
	border-top: 1px solid #006a98;
	position: relative;
	bottom: 0px;
	height: 66px;
	width: 100%;
	text-align: center;
}

.footer-sign__text {
	padding-top: 8px;
	margin-bottom: 6px;
}

.footer-sign__link {
	color: #6e6b6b;
}