@font-face {
  font-family: 'Numans';
  src: url(../fonts/numans_[allfont.ru].woff2) format(woff2);
  src: url(../fonts/Numans-Regular.woff) format(woff);
  font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:inherit;
  font-size:inherit;
  font-style:inherit;
	vertical-align: baseline;
}

.page {
	line-height: 1;
	font-family: 'Numans', Arial, sans-serif;
	margin: 0 auto;
	max-width: 1500px;
}



/* header */

.header {
	border-bottom: 1px solid #1e9265;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


/* logo */

.header__logo {
	padding: 20px 0px 0px 50px;
}

.logo__img {
	width: 150px;
}


/* nav */

.header__nav {
	width: 60%;
	margin: 40px 0 0 0;
}

.nav__item {
  font-size: 20px;
	list-style-type: none;
	display: inline;
}

.nav__link {
	text-decoration: none;
	color: green;
	padding: 10px;
}

.nav__link_active {
	text-decoration: none;
	color: #15054e;
}


/* user */

.header__user {
  padding: 0 25px 0 0;
}

.user {
	float: right;
	display: flex;
	align-items: center;
}

.user__avatar {
	width: 45px;
	border-radius: 80px;
}

.user__btn-s {
	width: 20px;
	height: 20px;
}



/*all for main page*/

.main {
	min-height: calc(100vh - 65px - 66px - 1px - 2px);  /* - header - footer - header_border - footer_border*/
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.main-exercises {
	align-items: flex-start;
	align-content: flex-start;
}

.main__header {
	margin: 20px auto 15px;
}

.header-content {
	width: 100%;
	font-size: 36px;
	text-align: center;
}

.main__img {
	margin: 0 auto;
}

.img {
	width: 700px;
}


/* aside menu */

.main__aside {
	margin: 30px 5px 0 40px;
	position: sticky;
	top: 95px;
}

.menu__item {
	list-style-type: none;
	width: 150px;
	height: 50px;
	font-size: 24px;
	background: #caeff1;
	padding: 5px;
	margin: 7px 0 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__link {
	text-decoration: none;
	color: black;
}


/* exercises section */

.main__section {
	margin: 20px 10px;
	max-width: 1250px;
}

.section {
	background: #efffef;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
}

.article {
	margin: 20px;
}

.article__img {
	width: 300px;
}

.article__text {
	display: flex;
}

.article__add {
	background: #ffcdcd;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	text-align: center;
}

.article__description {
	background: #cff0e8;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}



/* footer */

.footer {
	border-top: 1px solid #006a98;
	position: relative;
	bottom: 0px;
	height: 66px;
	width: 100%;
	text-align: center;
}

.footer__text {
	padding-top: 8px;
	margin-bottom: 6px;
}

.footer__link {
	color: #6e6b6b;
}