html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:inherit;
  font-size:inherit;
  font-style:inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	font-family: 'Numans', serif;
	width: 100vw;
}

.body_wrapper-width {
	margin: 0 auto;
	max-width: 1500px;
}



/*all for header*/

header {
	border-bottom: 1px solid #1e9265;
	height: 65px;
	width: 100%;
}

.header_logo {
	width: 150px;
	padding: 20px 0px 0px 50px;
}

.to_login {
	margin: 23px 20px 0 0;
	float: right;
}

.header_login {
	text-decoration: none;
	padding: 5px;
	color: #1E7A6D;
	border-radius: 5px;
}

.header_login-distance {
	margin-right: 10px;
}

.header_login-black {
	color: black;
}



/*all for footer*/

footer {
	border-top: 1px solid #006a98;
	position: relative;
	bottom: 0px;
	height: 44px;
	width: 100%;
	text-align: center;
}

footer p {
	padding-top: 5px;
	margin-bottom: 4px;
}

footer a {
	color: #6e6b6b;
}



/*all for main page*/

/*.wrapper_main {
	width: 100%;
}*/

main {
	min-height: calc(100vh - 65px - 44px - 1px - 2px);  /* - header - footer - header_border - footer_border*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/*registration or login form*/

.main_login, .main_registration {
	text-align: center;
	padding-bottom: 10%;
}

legend {
	font-size: 36px;
	color: #6e6b6b;
	margin-bottom: 20px;
}

input {
	font-size: 16px;
	width: 237px;
	height: 40px;
	border: 2px solid #c4c4c4;
	border-radius: 12px;
	padding-left: 15px;
	margin-bottom: 18px;
}

button {
	width: 252px;
	height: 50px;
	margin-top: 18px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #6e6b6b;
	font-weight: bold;
	border: 2px solid #c4c4c4;
	border-radius: 12px;
	background: white;
}

button:hover {
	background: #e6f7fe;
	border: 2px solid #d2f0fd;
	color: #4487a4;
}

.main_login p, .main_registration p {
	margin-bottom: 15px;
}

.main_login a, .main_registration a {
	color: #1e9265;
	text-decoration: none;
	font-weight: bold;
}

/*blockquote on registration or login page*/

blockquote {
	min-width: 420px;
	max-width: 30vw;
	padding: 20px 10px;
	margin-bottom: 10%;
	text-align: center;
	border-bottom: 2px outset #FFAA73;
	border-top: 2px outset #FFAA73;
}

cite {
	display: block;
	margin: 12px auto 0px;
text-align: center;
}


/*main page content on index.html landing page*/

.main_p-landing {
	min-width: 400px;
	max-width: 600px;
	padding: 10px;
	font-size: 16px;
	transition: 1s;
}

.main_p-landing:hover {
	transform: scale(1.4);
}

.article_image {
	height: 150px;
}