<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="body_wrapper-width">
		<header>
			<a href="progress.html"><img src="../images/logo.jpg" class="header_logo" alt="GumApp"></a>
			<nav>
				<ul class="navigation">
					<li><a href="progress.html">Progress</a></li>
					<li><a href="body.html">Body</a></li>
					<li><a href="exercises.html">Exercises</a></li>
					<li><a href="meal.html">Meal</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Exercises</h1>
		</main>
		<footer>
			<p>©GymApp dev team, 2021</p>
			<a href="#">Privacy policy</a>
		</footer>
	</div>
</body>
</html>