<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://allfont.ru/allfont.css?fonts=numans" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="body_wrapper-width">
		<header>
			<a href="index.html"><img src="../images/logo.jpg" class="header_logo" alt="GumApp"></a>
			<section class="to_login">
				<a class="header_login header_login-distance header_login-black" href="login.html">Log In</a>
				<a class="header_login" href="registration.html">Registration</a>
			</section>
		</header>
			<main>
				<p class="main_p">Hello everyone! Here will be the site for checking gym statistics</p>
				<p class="main_p">сайт для сбора и обработки статистики занятий спортом там можно выбрать разные упражнения, из них составить себе комплексы тренировочные, посмотреть питание потом вводишь свои данные и на их основе ии тебе подскажет, какие изменения нужны в тренировках/питании для достижения указанных тобой целей: массу там набрать, или наоборот</p>
				<p class="main_p">сайт для сбора и обработки статистики занятий спортом там можно выбрать разные упражнения, из них составить себе комплексы тренировочные, посмотреть питание потом вводишь свои данные и на их основе ии тебе подскажет, какие изменения нужны в тренировках/питании для достижения указанных тобой целей: массу там набрать, или наоборот</p>
				<p class="main_p">сайт для сбора и обработки статистики занятий спортом там можно выбрать разные упражнения, из них составить себе комплексы тренировочные, посмотреть питание потом вводишь свои данные и на их основе ии тебе подскажет, какие изменения нужны в тренировках/питании для достижения указанных тобой целей: массу там набрать, или наоборот</p>
				<p class="main_p">сайт для сбора и обработки статистики занятий спортом там можно выбрать разные упражнения, из них составить себе комплексы тренировочные, посмотреть питание потом вводишь свои данные и на их основе ии тебе подскажет, какие изменения нужны в тренировках/питании для достижения указанных тобой целей: массу там набрать, или наоборот</p>
				<p class="main_p">сайт для сбора и обработки статистики занятий спортом там можно выбрать разные упражнения, из них составить себе комплексы тренировочные, посмотреть питание потом вводишь свои данные и на их основе ии тебе подскажет, какие изменения нужны в тренировках/питании для достижения указанных тобой целей: массу там набрать, или наоборот</p>
			</main>
		<footer>
			<p>©GymApp dev team, 2021</p>
			<a href="#">Privacy policy</a>
		</footer>
	</div>
</body>
</html>