<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GymApp</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index-style.css">
</head>

<body class="index-page">
	<header class="header-index">
		<span class="logo-index-page header-index__logo">
			<a class="logo-index-page__link" href="index.html">
				<img class="logo-index-page__img" src="../images/logo.jpg" alt="GumApp">
			</a>
		</span>
		<section class="sign-links header-index__sign-links">
			<a class="sign-links__item sign-links__item_distance sign-links__item_black" href="login.html">Sign in</a>
			<a class="sign-links__item" href="signup.html">Signup</a>
		</section>
	</header>
	<main class="main-index">
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">WORKOUT!</p>
		</article>
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">INDIVIDUAL SETS OF EXERCISES</p>
		</article>
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">RECOMMENDATIONS</p>
		</article>
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">TRACKING STATISTICS</p>
		</article>
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">FOOD!</p>
		</article>
		<article class="article">
			<img class="article__image" src="../images/picture.jpg" alt="Picture">
			<p class="article__text">REACH YOUR SPORTS GOALS FASTER WITH US</p>
		</article>
	</main>
	<footer class="footer-sign sign-page__footer">
		<p class="footer-sign__text">©GymApp dev team, 2021</p>
		<a class="footer-sign__link" href="#">Privacy policy</a>
	</footer>
</body>

</html>