<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://allfont.ru/allfont.css?fonts=numans" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../Static/CSS/Styles.css">
</head>
<body>
	<header>
		<img src="../Images/Logo.jpg" class="header_logo" alt="GumApp">
	</header>
	<main>
		<p>Hello everyone! Here will be the site for checking gym statistics</p>
	</main>
	<footer>
		<p>©Gazetdinov Azamat, Titov Ivan 2021</p>
		<a href="#">Privacy policy</a>
	</footer>
</body>
</html>