<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://allfont.ru/allfont.css?fonts=numans" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="body_wrapper-width">
		<header>
			<a href="index.html"><img src="../images/logo.jpg" class="header_logo" alt="GumApp"></a>
			<section class="to_login">
				<a class="header_login header_login-distance header_login-black" href="login.html">Log In</a>
				<a class="header_login" href="registration.html">Registration</a>
			</section>
		</header>
		<main>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>WORKOUT!</p>
			</article>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>INDIVIDUAL SETS OF EXERCISES</p>
			</article>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>RECOMMENDATIONS</p>
			</article>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>TRACKING STATISTICS</p>
			</article>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>FOOD!</p>
			</article>
			<article class="main_p-landing">
				<img class="article_image" src="../images/picture.jpg" alt="Picture">
				<p>REACH YOUR SPORTS GOALS FASTER WITH US</p>
			</article>
		</main>
		<footer>
			<p>©GymApp dev team, 2021</p>
			<a href="#">Privacy policy</a>
		</footer>
	</div>
</body>
</html>