<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="body_wrapper-width">
		<header>
			<a href="progress.html"><img src="../images/logo.jpg" class="header_logo" alt="GumApp"></a>
			<nav class="navigation_container">
				<ul class="navigation_list">
					<li class="navigation_item"><a class="navigation_a" href="progress.html">Progress</a></li>
					<li class="navigation_item"><a class="navigation_a" href="body.html">Body</a></li>
					<li class="navigation_item"><a class="navigation_a" href="exercises.html">Exercises</a></li>
					<li class="navigation_item"><a class="navigation_a" href="meal.html">Meal</a></li>
				</ul>
			</nav>
			<section class="user_container">
				<img class="avatar-small" src="../images/avatar.png">
				<p class="user_p">Login</p>
				<img class="img_button-small" src="../images/button_exit.png">
			</section>
		</header>
		<main>
			<div class="progress_wrapper">
				<img class="progress_img" src="../images/graph.jpg">
				<img class="progress_img" src="../images/graph.jpg">
			</div>
		</main>
		<footer>
			<p>©GymApp dev team, 2021</p>
			<a href="#">Privacy policy</a>
		</footer>
	</div>
</body>
</html>