<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://allfont.ru/allfont.css?fonts=numans" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="body_wrapper-width">
		<header>
			<a href="index.html"><img src="../images/logo.jpg" class="header_logo" alt="GumApp"></a>
		</header>
		<main>
			<div class="main_registration">
				<form method="post" action="#" name="reg">
					<legend>Registration</legend>
					<input type="text" name="username" placeholder="Username" required="">
					<br>
					<input type="email" name="email" placeholder="Email" required="">
					<br>
					<input type="password" name="password" placeholder="Password" required="">
					<br>
					<input type="password" name="password_check" placeholder="Repeat password" required="">
					<br>
					<button type="submit" name="sign_up">Sign Up</button>
				</form>
				<p>Already registered</p>
				<a href="login.html">Log In</a> 
			</div>
			<blockquote class="main_blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem porro optio repellat accusamus ipsam ratione incidunt aut, amet, odit veritatis facilis aperiam! Provident quos recusandae dolore nemo praesentium ducimus tenetur deleniti ipsum modi ea reiciendis ratione voluptatibus dolores animi exercitationem, vel obcaecati impedit in, amet numquam esse corrupti, a rem, consequuntur. Vero aliquid similique, libero praesentium dolorem earum expedita iste officia neque aperiam dicta ratione facere optio nam accusantium, possimus itaque rerum sit, minima deleniti magni veniam temporibus provident labore. Natus, modi in eligendi accusantium rem nulla vitae optio nostrum distinctio eius, corporis alias ab pariatur, molestias a. Quasi, pariatur.<cite>Lorem, ipsum.</cite></blockquote>
		</main>
		<footer>
			<p>©GymApp dev team, 2021</p>
			<a href="#">Privacy policy</a>
		</footer>
	</div>
</body>
</html>