<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in</title>
	<link rel="stylesheet" type="text/css" href="../static/css/sign-style.css">
</head>

<body class="sign-page">
	<header class="header-sign">
		<span class="logo-sign-page header-sign__logo">
			<a class="logo-sign-page__link" href="index.html">
				<img class="logo-sign-page__img" src="../images/logo.jpg" alt="GumApp">
			</a>
		</span>
	</header>
	<main class="main-sign">
		<div class="sign main__sign">
			<form class="form-sign sign__form" method="post" action="#" name="Log_in">
				<legend class="form-sign__legend">Sign in</legend>
				<input class="form-sign__input" type="text" name="login" placeholder="Login">
				<br>
				<input class="form-sign__input" type="password" name="password" placeholder="Password">
				<br>
				<button class="form-sign__button" type="submit" name="enter">Enter</button>
			</form>
			<p class="sign__text">First time here?</p>
			<p class="sign__text">Time to <a class="sign__link" href="signup.html">Sign up</a></p>
		</div>
		<blockquote class="blockquote-sign main-sign__blockquote">Short quote
			<cite class="cite-sign">Author</cite>
		</blockquote>
	</main>
	<footer class="footer-sign">
		<p class="footer-sign__text">©GymApp dev team, 2021</p>
		<a class="footer-sign__link" href="#">Privacy policy</a>
	</footer>
</body>

</html>