<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<link rel="stylesheet" type="text/css" href="../static/css/sign-style.css">
</head>

<body class="sign-page">
	<header class="header-sign">
		<span class="logo-sign-page header-sign__logo">
			<a class="logo-sign-page__link" href="index.html">
				<img class="logo-sign-page__img" src="../images/logo.jpg" alt="GumApp">
			</a>
		</span>
	</header>
	<main class="main-sign">
		<div class="sign main__sign">
			<form class="form-sign sign__form" method="post" action="#" name="sign">
				<legend class="form-sign__legend">Signup</legend>
				<input class="form-sign__input" type="text" name="username" placeholder="Username" required="">
				<br>
				<input class="form-sign__input" type="email" name="email" placeholder="Email" required="">
				<br>
				<input class="form-sign__input" type="password" name="password" placeholder="Password" required="">
				<br>
				<input class="form-sign__input" type="password" name="password_check" placeholder="Repeat password" required="">
				<br>
				<button class="form-sign__button" type="submit" name="sign_up">Sign Up</button>
			</form>
			<p class="sign__text">Already registered</p>
			<a class="sign__link" href="login.html">Sign in</a>
		</div>
		<blockquote class="blockquote-sign main-sign__blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Quidem
			porro optio repellat accusamus ipsam ratione incidunt aut, amet, odit veritatis facilis aperiam! Provident quos
			recusandae dolore nemo praesentium ducimus tenetur deleniti ipsum modi ea reiciendis ratione voluptatibus dolores
			animi exercitationem, vel obcaecati impedit in, amet numquam esse corrupti, a rem, consequuntur. Vero aliquid
			similique, libero praesentium dolorem earum expedita iste officia neque aperiam dicta ratione facere optio nam
			accusantium, possimus itaque rerum sit, minima deleniti magni veniam temporibus provident labore. Natus, modi in
			eligendi accusantium rem nulla vitae optio nostrum distinctio eius, corporis alias ab pariatur, molestias a.
			Quasi, pariatur.
			<cite class="cite-sign">Lorem, ipsum.</cite>
		</blockquote>
	</main>
	<footer class="footer-sign">
		<p class="footer-sign__text">©GymApp dev team, 2021</p>
		<a class="footer-sign__link" href="#">Privacy policy</a>
	</footer>
</body>

</html>